<!--
本模块为帮助文档页面
author:武岳豪
create date:2020-8-7
update date:2020-8-11
-->
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>帮助文档</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <link rel="stylesheet" href="../static/css/dripicons.css">
        <link rel="stylesheet" href="../static/css/meanmenu.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
	    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
	    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	    <link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
     <!-- header-start -->
       <header>
        <div class="header-top-area pl-55 pr-55 d-none d-lg-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                        <div class="header-info">
                            <span><i class="dripicons-phone"></i> Call : 12345678909</span>
                            <span><i class="dripicons-mail"></i> e-mail:taoka@.com</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                            <div class="header-right d-none d-lg-block">
                                <div class="header-right f-right ">
                                    <div class="header-lang  pos-rel f-right">
                                    <div class="lang-icon">
                                        <i class="dripicons-bookmark"></i>
                                        <a href="personal">个人主页<i class="dripicons-chevron-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-menu-area pl-55 pr-55">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 d-flex align-items-center">
                        <div class="logo">
                            <a href="#"><img src="../static/images/logo.png" width="180px"  alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="personal">主页</a></li>
                                    <li><a href="face">人脸</a></li>
                                    <li><a href="season">季节</a></li>
                                    <li><a href="changxiao">畅销</a></li>
                                    <li><a href="shouzhong">受众</a></li>
                                    <li><a href="guest">顾客</a></li>
                                    <li><a href="jinhuo">进货</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="header-2-right f-right d-none d-md-none d-lg-block">
                            <ul>
                                <li>
                                    <ul class="minicart">
                                        <li>
                                            <div class="del-icon">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-info">
            <div class="close-icon">
                <button>
                    <i class="far fa-window-close"></i>
                </button>
            </div>
            <div class="logo-side mb-30">

            </div>
        </div>
         </header>
       <!-- header-end -->
     <div class="headImg" align="center">
     <h4> 一、产品介绍：</h4>
        <br/>
        <p style="text-align: left;display: inline-block;margin-left: 145px">
            &nbsp; &nbsp;1）<b>人脸按钮</b>，可以开始收集您的顾客人脸信息，与扫码商品建立联系并存储到您的账户中。<br/>
            <br/>
            &nbsp; &nbsp;2）<b>季节按钮</b>，通过您账户中存储的信息，帮助您生成个性化数据分析，帮助您得到不同季节应该怎么调整比例。<br/>
            <br/>
            &nbsp; &nbsp;3）<b>畅销按钮</b>，通过您账户中存储的信息，帮助您生成个性化数据分析，帮助您得到全年，您商铺中最畅销的几类产品。<br/>
            <br/>
            &nbsp; &nbsp;4）<b>受众按钮</b>，通过顾客的购买信息，帮助您进行分类，得到个性化数据分析，帮助您得到不同受众的比例，让您根据受众数据选择新的商品。<br/>
            <br/>
            &nbsp; &nbsp;5）<b>顾客按钮</b>，根据您收集的顾客信息，帮您生成顾客画像，让您更方便的管理顾客。<br/>
            <br/>
            &nbsp; &nbsp;6）<b>进货按钮</b>，帮助您查看您的进货信息。<br/></p>
        <br/>
        <br/>
     <hr width=100% size=3 color="#C0D9D9" alingn=center  />
     <br/>
     <br/>

     <h4>二、使用介绍：</h4>
        <br/>
        <p style="text-align: left;display: inline-block;">
            &nbsp; &nbsp;1）点击主页的<b>注册登录</b>，进入个人页面。<br/>
            <br/>
            &nbsp; &nbsp;2）进入个人主页，点击<b>人脸按钮</b>，将识别会员id,并为其购物记录进行积分。<br/>
            <br/>
            &nbsp; &nbsp;3）进入个人主页，点击<b>季节按钮</b>，在搜索框中输入您想查询的商品ID，您将得到该商品四个季度销量的柱状图。<br/>
            <br/>
            &nbsp; &nbsp;4）进入个人主页，点击<b>畅销按钮</b>，在搜索框中输入商品类别ID，您将得到销售记录中销量高位的商品分布。<br/>
            <br/>
            &nbsp; &nbsp;5）进入个人主页，点击<b>受众按钮</b>，可告知您的店铺受众比例分布饼图和受众年龄分布。<br/>
            <br/>
            &nbsp; &nbsp;6）进入个人主页，点击<b>顾客按钮</b>，实现店铺会员制度，您可通过输入会员id，得到其量身推荐商品并查看其积分记录<br/>
            <br/>
            &nbsp; &nbsp;7）进入个人主页，点击<b>进货按钮</b>，会跳转到您的进货页面，帮助您实时了解进货情况。<br/></p><div/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
     </div>
    </body>
</html>