<!--
本模块为网页首页
author:原也 许如昕 仇佳慧
create date:2020-7-30
update date:2020-8-10
-->
<!doctype html>
<html class="no-js" lang="ZXX">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>淘卡网-你的购物管家</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <link rel="stylesheet" href="../static/css/dripicons.css">
        <link rel="stylesheet" href="../static/css/meanmenu.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
        <link href="../static/css/font-awesome.min.css" rel="stylesheet">
	    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	    <link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">
        <script src="../static/js/jquery-1.12.2.js"></script>
    </head>
    <body>
       <!-- header-start -->
       <header>
        <div class="header-top-area pl-55 pr-55 d-none d-lg-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                        <div class="header-info">
                            <span><i class="dripicons-phone"></i> Call : 12345678909</span>
                            <span><i class="dripicons-mail"></i> e-mail:taoka@.com</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                            <div class="header-right d-none d-lg-block">
                                <div class="header-login  f-right">
                                    <a href="login_register"><i class="dripicons-lock"></i> 注册</a>
                                </div>
                                <div class="header-right f-right ">
                                    <div class="header-lang  pos-rel f-right">
                                    <div class="lang-icon">
                                        <i class="dripicons-bookmark"></i>
                                        <a href="login_register">登录<i class="dripicons-chevron-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-menu-area pl-55 pr-55">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 d-flex align-items-center">
                        <div class="logo">
                            <a href="help"><img src="../static/images/logo.png" width="180px"  alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="/">主页</a></li>
                                    <li><a href="#人脸">人脸</a></li>
                                    <li><a href="#季节">季节</a></li>
                                    <li><a href="#畅销">畅销</a></li>
                                    <li><a href="#受众">受众</a></li>
                                    <li><a href="#顾客">顾客</a></li>
                                    <li><a href="#进货">进货</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="header-2-right f-right d-none d-md-none d-lg-block">
                            <ul>
                                <li>
                                    <ul class="minicart">
                                        <li>
                                            <div class="del-icon">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-info">
            <div class="close-icon">
                <button>
                    <i class="far fa-window-close"></i>
                </button>
            </div>
            <div class="logo-side mb-30">

            </div>
        </div>
         </header>
       <!-- header-end -->

        <main>
            <!-- slider-start -->
            <div class="slider-area">
                <div class="slider-active">
                    <div class="single-slider slider-height d-flex align-items-center"
                        style="background-image:url(../static/images/index_back.png)">
                        <div class="container">
                            <div class="row ">
                                <div class="col-xl-4 col-lg-8">
                                    <div class="slider-content">
                                        <span data-animation="fadeInLeft" data-delay=".3s">Facecard</span>
                                        <h1 data-animation="fadeInLeft" data-delay=".5s">淘卡</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s">您的销售管家</p>
                                        <h2 data-animation="fadeInLeft" data-delay=".8s">Welcome</h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height d-flex align-items-center"
                        style="background-image:url(../static/images/index_back2.jpg)">
                        <div class="container">
                            <div class="row ">
                                <div class="col-xl-4 col-lg-8">
                                    <div class="slider-content">
                                        <span data-animation="fadeInLeft" data-delay=".3s">facecard</span>
                                        <h1 data-animation="fadeInLeft" data-delay=".5s">淘卡</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s">您的销售管家</p>
                                        <h2 data-animation="fadeInLeft" data-delay=".8s">Welcome</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height d-flex align-items-center"
                        style="background-image:url(../static/images/index_back3.jpg)">
                        <div class="container">
                            <div class="row ">
                                <div class="col-xl-4 col-lg-8">
                                    <div class="slider-content">
                                        <span data-animation="fadeInLeft" data-delay=".3s">facecard</span>
                                        <h1 data-animation="fadeInLeft" data-delay=".5s">淘卡</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s">您的销售管家</p>
                                        <h2 data-animation="fadeInLeft" data-delay=".8s">Welcome</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       <!-- 帮助文本开始 -->

		<img src="../static/images/border.png" alt="Border" class="templatemo-border">
       <section id="人脸" class="templatemo-section">
			<h2 class="text-uppercase text-center">人脸识别</h2>
			<div class="tm-about-img-container">
				<img src="../static/images/about-frame.png" alt="About frame" class="tm-about-frame img-responsive">
				<img src="../static/images/face_recognition.jpg" alt="About" class="tm-about-img img-responsive">
			</div>
           <p class="margin-top-50 text-center">人脸识别 <a href="login_register">请登录后查看</a></p>
       </section>
       <img src="../static/images/border.png" alt="Border" class="templatemo-border">

       <section id="季节" class="templatemo-section">
			<h2 class="text-uppercase text-center">季节</h2>
			<div class="tm-about-img-container">
				<img src="../static/images/about-frame.png" alt="About frame" class="tm-about-frame img-responsive">
				<img src="../static/images/season.jpg" alt="About" class="tm-about-img img-responsive">
			</div>
           <p  class="margin-top-50 text-center">季节<a href="login_register">请登录后查看</a> </p>
       </section>

       <img src="../static/images/border.png" alt="Border" class="templatemo-border">
       <section id="畅销" class="templatemo-section">
			<h2 class="text-uppercase text-center">畅销</h2>
			<div class="tm-about-img-container">
				<img src="../static/images/about-frame.png" alt="About frame" class="tm-about-frame img-responsive">
				<img src="../static/images/changxiao.jpg" alt="About" class="tm-about-img img-responsive">
			</div>
			<p class="margin-top-50 text-center">畅销<a href="login_register">请登录后查看</a></p>
       </section>
       <img src="../static/images/border.png" alt="Border" class="templatemo-border">
        <section id="受众" class="templatemo-section">
			<h2 class="text-uppercase text-center">受众</h2>
			<div class="tm-about-img-container">
				<img src="../static/images/about-frame.png" alt="About frame" class="tm-about-frame img-responsive">
				<img src="../static/images/shouzhong.jpg" alt="About" class="tm-about-img img-responsive">
			</div>
			<p class="margin-top-50 text-center"><a href="login_register">请登录后查看</a></p>
       </section>
       <img src="../static/images/border.png" alt="Border" class="templatemo-border">
       <section id="顾客" class="templatemo-section">
			<h2 class="text-uppercase text-center">顾客</h2>
			<div class="tm-about-img-container">
				<img src="../static/images/about-frame.png" alt="About frame" class="tm-about-frame img-responsive">
				<img src="../static/images/guest.jpg" alt="About" class="tm-about-img img-responsive">
			</div>
           <p class="margin-top-50 text-center">顾客<a href="login_register">请登录后查看</a></p>
       </section>
       <img src="../static/images/border.png" alt="Border" class="templatemo-border">
        <section id="进货" class="templatemo-section">
			<h2 class="text-uppercase text-center">进货</h2>
			<div class="tm-about-img-container">
				<img src="../static/images/about-frame.png" alt="About frame" class="tm-about-frame img-responsive">
				<img src="../static/images/jinhuo.jpg" alt="About" class="tm-about-img img-responsive">
			</div>
            <p class="margin-top-50 text-center">进货<a href="login_register">请登录后查看</a></p>
       </section>
       <img src="../static/images/border.png" alt="Border" class="templatemo-border">
       <!--帮助文本结束  -->

        <!-- footer-start -->
        <footer>
            <div class="footer-area pt-80 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="#"><img src="../static/images/LOGO(kou_again).png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h4 class="footer-title">快速链接</h4>
                                <ul class="footer-menu footer-2-menu">
                                    <li><a href="#">关于我们</a></li>
                                    <li><a href="#">我的账户</a></li>
                                    <li><a href="#">订单追踪</a></li>
                                    <li><a href="#">帮助 & 支持</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h4 class="footer-title">联系我们</h4>
                                <ul class="footer-link">
                                    <li>email:taoka@.com</li>
                                    <li>12345678909</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6">
                            <div class="footer-wrapper mb-30 ml-70">
                                <h4 class="footer-title">关注我们</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">微博</a></li>
                                    <li><a href="#">微信</a></li>
                                    <li><a href="#">QQ</a></li>
                                    <li><a href="#">推特</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-area pt-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <div class="copyright" id="copyright">
                                    <p>Copyright @ 2020taoka.com, A11 rights reserved.</p>
			                        <p>2020-2040，版权所有淘卡5CP 备2013146</p>
                                    <p>联系作者Tel：12345678909</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
		<script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/isotope.pkgd.min.js"></script>
        <script src="../static/js/jquery.countdown.min.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/jquery.meanmenu.min.js"></script>
        <script src="../static/js/ajax-form.js"></script>
        <script src="../static/js/wow.min.js"></script>
        <script src="../static/js/jquery.scrollUp.min.js"></script>
        <script src="../static/js/imagesloaded.pkgd.min.js"></script>
        <script src="../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>
