<!--
本模块为展示进货商品信息页面，将爬取的商品信息展示
author:高万崧
create date:2020-8-5
update date:2020-8-8
-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>进货</title>

<!-- Google fonts -->

<!-- CSS here -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
<link rel="stylesheet" href="../static/css/animate.min.css">
<link rel="stylesheet" href="../static/css/magnific-popup.css">
<link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
<link rel="stylesheet" href="../static/css/themify-icons.css">
<link rel="stylesheet" href="../static/css/dripicons.css">
<link rel="stylesheet" href="../static/css/meanmenu.css">
<link rel="stylesheet" href="../static/css/slick.css">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/responsive.css">
<link href="../static/css/font-awesome.min.css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">

<!-- font awesome -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<link rel="stylesheet" href="../static/css/bootstrap.css" />

<!-- animate.css -->
<link rel="stylesheet" href="../static/css/animate.css" />

<!-- gallery -->
<link rel="stylesheet" href="../static/css/blueimp-gallery.min.css">

<!-- favicon -->


<link rel="stylesheet" href="../static/css/style1.css">

</head>

<body id="home">
<!-- header -->
 <!-- header-start -->
       <header>
        <div class="header-top-area pl-55 pr-55 d-none d-lg-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                        <div class="header-info">
                            <span><i class="dripicons-phone"></i> Call : 12345678909</span>
                            <span><i class="dripicons-mail"></i> e-mail:taoka@.com</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                            <div class="header-right d-none d-lg-block">
                                <div class="header-right f-right ">
                                    <div class="header-lang  pos-rel f-right">
                                    <div class="lang-icon">
                                        <i class="dripicons-bookmark"></i>
                                        <a href="personal">个人主页<i class="dripicons-chevron-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-menu-area pl-55 pr-55">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 d-flex align-items-center">
                        <div class="logo">
                            <a href="#"><img src="../static/images/logo.png" width="180px"  alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="personal">主页</a></li>
                                    <li><a href="face">人脸</a></li>
                                    <li><a href="season">季节</a></li>
                                    <li><a href="changxiao">畅销</a></li>
                                    <li><a href="shouzhong">受众</a></li>
                                    <li><a href="guest">顾客</a></li>
                                    <li><a href="jinhuo">进货</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="header-2-right f-right d-none d-md-none d-lg-block">
                            <ul>
                                <li>
                                    <ul class="minicart">
                                        <li>
                                            <div class="del-icon">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-info">
            <div class="close-icon">
                <button>
                    <i class="far fa-window-close"></i>
                </button>
            </div>
            <div class="logo-side mb-30">

            </div>
        </div>
         </header>
       <!-- header-end -->


  <!-- slider -->
  <div id="carousel-banner" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
	<div class="item active"><img src="../static/images/banner1.jpg" class="img-responsive"></div>
	<div class="item"><img src="../static/images/banner2.jpg" class="img-responsive"></div>
	<div class="item"><img src="../static/images/banner3.jpg" class="img-responsive"></div>
  </div>
  <!-- caption -->
  <div class="caption">
	<div class="ab-wrap">
	<div class="ab-center">
	  <div class="top-information">
	  <h1 class="logo">进货列表</h1>
	  <p>
          鼠标放置商品图片查看详细信息
	  </p>
	  <a href="#portfolio" class="btn btn-warning scroll"><i class="fa fa-anchor"></i> 商品展示</a>
	  </div>
	</div>
	</div>
  </div>
  <!-- caption -->
  <!-- Controls -->
  <div class="next-prev">
  <a class="left" href="#carousel-banner" role="button" data-slide="prev"><i class="fa fa-3x fa-angle-left"></i></a>
  <a class="right" href="#carousel-banner" role="button" data-slide="next"><i class="fa fa-3x fa-angle-right"></i></a>
  </div>
  </div>

  <!-- slider -->

     <!-- product list -->
	<div class="row-fluid gallery clearfix" id="portfolio">
   </div>
   <!-- product list -->


   <!-- about -->
   <div class="contact">


  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	  <!-- The container for the modal slides -->
	  <div class="slides"></div>
	  <!-- Controls for the borderless lightbox -->
	  <h3 class="title">Title</h3>
	  <a class="prev">‹</a>
	  <a class="next">›</a>
	  <a class="close">×</a>
	  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  </div>

<a href="#home" class="gototop scroll"><i class="fa fa-angle-up  fa-3x"></i></a>

<!-- jquery -->
<script src="../static/js/jquery.js"></script>

<!-- wow script -->
<script src="../static/js/wow.min.js"></script>

<!-- boostrap -->
<script src="../static/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="../static/js/touchSwipe.min.js"></script>
<script src="../static/js/respond.js"></script>

<!-- gallery -->
<script src="../static/js/jquery.blueimp-gallery.min.js"></script>

<!---<script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>--->

<!-- custom script -->
<script src="../static/js/script.js"></script>

<script type="text/javascript">

    var result = [];
 var item = {goods:'泰国进口龙眼  1kg',
        name:'https://www.benlai.com/items-25086.html?sysno=12915&benlaiSource=1&benlaiLocation=3-2-1',
        img:'https://image3.benlailife.com/ProductImages/medium/8984f236-6f5b-467a-b9d9-0170f8551663.jpg?imageView2/2/format/webp',
        discrib:'晶莹而甜爽多汁',
        price:'￥19.90￥38.00'};
 result.push(item);
var item = {goods:'都乐非转基因木瓜1个装(390g以上)',
        name:'https://www.benlai.com/items-94753.html?sysno=387406&benlaiSource=1&benlaiLocation=3-2-4',
        img:'https://image4.benlailife.com/ProductImages/000/000/383/470/medium/dde92629-213d-4cae-b4f9-3ad2632eafd5.jpg?imageView2/2/format/webp',
        discrib:'润滑可口，香味泌人',
        price:'￥9.90￥28.00'};
 result.push(item);
var item = {goods:'泰国椰青整箱9个装 大果(8.1kg以上)',
        name:'https://www.benlai.com/items-61439.html?sysno=281764&benlaiSource=1&benlaiLocation=3-2-5',
        img:'https://image4.benlailife.com/ProductImages/medium/cf9209e2-8052-44f6-b325-d78f43fac133.jpg?imageView2/2/format/webp',
        discrib:'椰汁清甜沁心 椰肉香软滑嫩',
        price:'￥99.00￥188.00'};
 result.push(item);
var item = {goods:'库尔勒香梨 整箱装(一级·5-5.5kg)',
        name:'https://www.benlai.com/items-66907.html?sysno=294088&benlaiSource=1&benlaiLocation=3-2-6',
        img:'https://image6.benlailife.com/ProductImages/medium/53f9a1c4-2d65-4259-b7af-dfdbbdc975b9.jpg?imageView2/2/format/webp',
        discrib:'甜甜蜜蜜，脆爽多汁，不想停口',
        price:'￥39.00￥178.00'};
 result.push(item);
var item = {goods:'丹东东港红颜草莓3盒装(350g/盒)',
        name:'https://www.benlai.com/items-70655.html?sysno=318604&benlaiSource=1&benlaiLocation=3-2-2',
        img:'https://image6.benlailife.com/ProductImages/medium/dde50622-1890-458a-8a07-94f3b519b9ac.jpg?imageView2/2/format/webp',
        discrib:'香味浓郁，果汁甜美',
        price:'￥199.00'};
 result.push(item);
var item = {goods:'云南蒙自冰糖枇杷500g装',
        name:'https://www.benlai.com/items-88149.html?sysno=434407&benlaiSource=1&benlaiLocation=3-2-3',
        img:'https://image6.benlailife.com/ProductImages/000/000/364/691/medium/f9f6b60b-853f-4420-9c93-14ccf475498b.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥29.90￥49.00'};
 result.push(item);
var item = {goods:'皇冠梨6个装 1.4kg以上',
        name:'https://www.benlai.com/items-75799.html?sysno=331275&benlaiSource=1&benlaiLocation=3-2-7',
        img:'https://image5.benlailife.com/ProductImages/000/000/331/275/medium/2707246d-fb63-40bb-a3ea-0a9816b8219b.jpg?imageView2/2/format/webp',
        discrib:'松脆多汁，无渣细腻',
        price:'￥25.80￥58.00'};
 result.push(item);
var item = {goods:'海南西州蜜25号4粒装',
        name:'https://www.benlai.com/items-89815.html?sysno=369597&benlaiSource=1&benlaiLocation=3-2-8',
        img:'https://image3.benlailife.com/ProductImages/000/000/369/595/medium/f4ae4ccf-6e5b-432d-8f05-c8e5ef95351a.jpg?imageView2/2/format/webp',
        discrib:'阳光的馈赠，甜到心尖的美味',
        price:'￥49.00￥139.00'};
 result.push(item);
var item = {goods:'【预售】精选国产蓝莓12盒(125g/盒,果径13mm+)',
        name:'https://www.benlai.com/items-90047.html?sysno=370402&benlaiSource=1&benlaiLocation=3-2-9',
        img:'https://image6.benlailife.com/ProductImages/medium/be218bb1-46e1-401f-afce-5c02dde2a092.jpg?imageView2/2/format/webp',
        discrib:'小身材，大营养，满满花青素',
        price:'￥89.00￥199.00'};
 result.push(item);
var item = {goods:'美国新奇士黑标晚季脐橙16个装(2.4kg以上)',
        name:'https://www.benlai.com/items-120770.html?sysno=467632&benlaiSource=1&benlaiLocation=3-2-10',
        img:'https://image3.benlailife.com/ProductImages/medium/38973d77-b2cf-4658-9d56-97fc23d7ee2b.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥69.00￥129.00'};
 result.push(item);
var item = {goods:'CP 泰国白虾 500g (30-40/kg)',
        name:'https://www.benlai.com/items-100940.html?sysno=397772&benlaiSource=1&benlaiLocation=5-3-2',
        img:'https://image6.benlailife.com/ProductImages/000/000/397/745/medium/4b0306d4-4052-4162-9525-4c5f53d52006.jpg?imageView2/2/format/webp',
        discrib:'泰国原装进口，急冻锁鲜，保留原汁鲜美',
        price:'￥49.90￥99.00'};
 result.push(item);
var item = {goods:'CP 泰国白虾 500g (21-25/kg)',
        name:'https://www.benlai.com/items-100931.html?sysno=397769&benlaiSource=1&benlaiLocation=5-3-4',
        img:'https://image6.benlailife.com/ProductImages/000/000/397/746/medium/5e4caa9d-eb90-4dd8-859d-fd97b26e793d.jpg?imageView2/2/format/webp',
        discrib:'泰国原装进口，急冻锁鲜，保留原汁鲜美',
        price:'￥69.90￥129.00'};
 result.push(item);
var item = {goods:'TOUSHS越南黑虎虾40/50  400g(16-20个)/盒',
        name:'https://www.benlai.com/items-72555.html?sysno=329299&benlaiSource=1&benlaiLocation=5-3-5',
        img:'https://image.benlailife.com/ProductImages/000/000/323/286/medium/f5fa2b1a-4171-40f2-adb3-4c64a508284d.jpg?imageView2/2/format/webp',
        discrib:'原装进口、活虾急冻、低温锁鲜',
        price:'￥44.90￥79.90'};
 result.push(item);
var item = {goods:'PESCANOVA冷冻厄瓜多尔白虾2kg 60-80只/盒(30-40只/kg)',
        name:'https://www.benlai.com/items-53488.html?sysno=67860&benlaiSource=1&benlaiLocation=5-3-7',
        img:'https://image7.benlailife.com/ProductImages/000/000/283/818/medium/bfff57ee-925e-4936-91e6-1886d91db34a.jpg?imageView2/2/format/webp',
        discrib:'原装进口、原料30-40只/kg',
        price:'￥169.00￥299.00'};
 result.push(item);
var item = {goods:'PESCANOVA冷冻厄瓜多尔白虾2kg 80-100只/盒(40-50只/kg)',
        name:'https://www.benlai.com/items-2163.html?sysno=6738&benlaiSource=1&benlaiLocation=5-3-8',
        img:'https://image3.benlailife.com/ProductImages/000/000/031/150/medium/a324c3c8-f226-42d0-b703-4d26b1b8de9e.jpg?imageView2/2/format/webp',
        discrib:'原装进口、原料40-50只/kg',
        price:'￥149.00￥288.00'};
 result.push(item);
var item = {goods:'PESCANOVA冷冻厄瓜多尔白虾2kg每盒120-140只(60-70/kg)',
        name:'https://www.benlai.com/items-86262.html?sysno=359123&benlaiSource=1&benlaiLocation=5-3-9',
        img:'https://image5.benlailife.com/ProductImages/medium/4e08ae81-010a-4f33-8046-2f5406186daf.jpg?imageView2/2/format/webp',
        discrib:'原装进口、原料60-70只/kg',
        price:'￥129.00￥188.00'};
 result.push(item);
var item = {goods:'英国 挪威冷冻海鳌虾 500g/盒 10-15只',
        name:'https://www.benlai.com/items-100628.html?sysno=398185&benlaiSource=1&benlaiLocation=5-3-10',
        img:'https://image4.benlailife.com/ProductImages/000/000/398/184/medium/d0a37ad9-de64-4b2b-a9b0-3bc053da98a2.jpg?imageView2/2/format/webp',
        discrib:'刺身佳品、即捕即冻、鲜甜顺滑',
        price:'￥109.00￥159.00'};
 result.push(item);
var item = {goods:'【原装进口】马来西亚活冻黑虎虾26/30  400g(11-12只)',
        name:'https://www.benlai.com/items-99513.html?sysno=395663&benlaiSource=1&benlaiLocation=5-3-11',
        img:'https://image3.benlailife.com/ProductImages/000/000/396/632/medium/af1fb6aa-1e57-4df7-8436-2523b3d0e7e8.jpg?imageView2/2/format/webp',
        discrib:'原装进口、活虾急冻、紧实鲜甜',
        price:'￥54.90￥99.00'};
 result.push(item);
var item = {goods:'东山岛 大虎虾（两只装）350g',
        name:'https://www.benlai.com/items-91558.html?sysno=374008&benlaiSource=1&benlaiLocation=5-3-14',
        img:'https://image.benlailife.com/ProductImages/000/000/374/010/medium/8858e881-276b-4c3a-9469-01cbdc4d8a1c.jpg?imageView2/2/format/webp',
        discrib:'岂止大，富含超高虾青素，给你味蕾的享受',
        price:'￥139.00￥218.00'};
 result.push(item);
var item = {goods:'东海大明虾 400g/盒',
        name:'https://www.benlai.com/items-91790.html?sysno=374613&benlaiSource=1&benlaiLocation=5-3-15',
        img:'https://image6.benlailife.com/ProductImages/000/000/374/590/medium/818997ca-1dfa-4188-8bb0-5fe909aaff2a.jpg?imageView2/2/format/webp',
        discrib:'大个鲜嫩',
        price:'￥119.00￥159.00'};
 result.push(item);
var item = {goods:'帕尔司 新西兰乳牛肋排500g',
        name:'https://www.benlai.com/items-103671.html?sysno=404537&benlaiSource=1&benlaiLocation=6-1-3',
        img:'https://image5.benlailife.com/ProductImages/000/000/404/537/medium/847a1fd6-f4f9-4b41-b7f8-3e34b1efb49f.jpg?imageView2/2/format/webp',
        discrib:'肉质嫩滑有乳香',
        price:'￥59.90￥99.00'};
 result.push(item);
var item = {goods:'澳洲安格斯雪花牛排1000g(5片装)',
        name:'https://www.benlai.com/items-1990.html?sysno=447&benlaiSource=1&benlaiLocation=6-1-4',
        img:'https://image.benlailife.com/ProductImages/medium/b7f3361c-b672-4a0f-a6d4-6ef4df01f75d.jpg?imageView2/2/format/webp',
        discrib:'品质保证 肉嫩味香',
        price:'￥129.00￥298.00'};
 result.push(item);
var item = {goods:'联豪西冷牛排1300g (130g x10片装)',
        name:'https://www.benlai.com/items-54888.html?sysno=287542&benlaiSource=1&benlaiLocation=6-1-5',
        img:'https://image5.benlailife.com/ProductImages/medium/217ebc54-9efd-43a5-ba17-84927b7c8c74.jpg?imageView2/2/format/webp',
        discrib:'精心调味  醇香浓郁',
        price:'￥139.00￥259.00'};
 result.push(item);
var item = {goods:'泰森冷冻琵琶腿500g',
        name:'https://www.benlai.com/items-12656.html?sysno=37643&benlaiSource=1&benlaiLocation=6-1-6',
        img:'https://image8.benlailife.com/ProductImages/000/000/020/706/medium/8f4eee2e-37da-4d43-ac3d-ad2303ee85cf.jpg?imageView2/2/format/webp',
        discrib:'不添加激素 谷物饲养',
        price:'￥45.90￥49.90'};
 result.push(item);
var item = {goods:'乌拉圭原切牛腩1kg',
        name:'https://www.benlai.com/items-111405.html?sysno=436385&benlaiSource=1&benlaiLocation=6-1-8',
        img:'https://image7.benlailife.com/ProductImages/000/000/436/386/medium/39309a31-7ed6-493b-a19c-cf8216b0f9be.jpg?imageView2/2/format/webp',
        discrib:'精细加工 天然草饲 醇香绵长',
        price:'￥69.90￥169.00'};
 result.push(item);
var item = {goods:'巴西鸡翅中1000g',
        name:'https://www.benlai.com/items-92448.html?sysno=377162&benlaiSource=1&benlaiLocation=6-1-9',
        img:'https://image4.benlailife.com/ProductImages/000/000/376/560/medium/cd286c53-1ac0-4637-8dfb-51b6b7587991.jpg?imageView2/2/format/webp',
        discrib:'生态养殖 低温速冻 肉质鲜嫩',
        price:'￥59.90￥139.00'};
 result.push(item);
var item = {goods:'易盛玖灰芦花老母鸡1kg',
        name:'https://www.benlai.com/items-54530.html?sysno=69811&benlaiSource=1&benlaiLocation=6-1-11',
        img:'https://image3.benlailife.com/ProductImages/medium/29b5646e-0400-467a-901f-f4e2db3f0284.jpg?imageView2/2/format/webp',
        discrib:'肉嫩细滑 不柴不腻',
        price:'￥49.90￥89.80'};
 result.push(item);
var item = {goods:'西鲜记宁夏盐池滩羊羔羊腿块500g',
        name:'https://www.benlai.com/items-83156.html?sysno=350596&benlaiSource=1&benlaiLocation=6-1-12',
        img:'https://image7.benlailife.com/ProductImages/000/000/350/452/medium/a539c152-8567-415d-a334-9e808bb24f91.jpg?imageView2/2/format/webp',
        discrib:'弹嫩鲜香 爽口无膻',
        price:'￥89.00￥139.00'};
 result.push(item);
var item = {goods:'西鲜记宁夏盐池滩羊羔羊蝎子500g',
        name:'https://www.benlai.com/items-83861.html?sysno=352505&benlaiSource=1&benlaiLocation=6-1-13',
        img:'https://image4.benlailife.com/ProductImages/000/000/352/509/medium/083b2bca-606f-4b84-9199-921ab8d88f37.jpg?imageView2/2/format/webp',
        discrib:'弹嫩鲜香 爽口无膻',
        price:'￥59.90￥89.90'};
 result.push(item);
var item = {goods:'巴西腱子芯650g',
        name:'https://www.benlai.com/items-87624.html?sysno=363599&benlaiSource=1&benlaiLocation=6-1-14',
        img:'https://image2.benlailife.com/ProductImages/000/000/363/408/medium/d97b10e4-518c-4c33-b60f-dd879c3f7bf7.jpg?imageView2/2/format/webp',
        discrib:'原切腱子芯，脂肪含量少',
        price:'￥89.90￥169.00'};
 result.push(item);
var item = {goods:'五常李玉双有机稻花香大米5kg',
        name:'https://www.benlai.com/items-6490.html?sysno=4000&benlaiSource=1&benlaiLocation=7-2-1',
        img:'https://image7.benlailife.com/ProductImages/medium/9372fff7-4b4e-4f15-bb9d-b62be66ea47c.jpg?imageView2/2/format/webp',
        discrib:'吃过李玉双，可能再吃不下其它米',
        price:'￥118.00￥138.00'};
 result.push(item);
var item = {goods:'金龙鱼乳玉皇妃稻香贡米5kg',
        name:'https://www.benlai.com/items-55532.html?sysno=71326&benlaiSource=1&benlaiLocation=7-2-2',
        img:'https://image8.benlailife.com/ProductImages/medium/9b5d0c7e-b455-46e5-ae4e-ea0e287a4eb3.jpg?imageView2/2/format/webp',
        discrib:'其米粒晶莹剔透，口感柔软滑润',
        price:'￥59.90￥99.90'};
 result.push(item);
var item = {goods:'【本来工坊】五常稻花香大米5kg',
        name:'https://www.benlai.com/items-82713.html?sysno=356675&benlaiSource=1&benlaiLocation=7-2-4',
        img:'https://image4.benlailife.com/ProductImages/medium/e737ce98-19b9-4bf7-a35e-667a0e4e5fe5.jpg?imageView2/2/format/webp',
        discrib:'五常黑土地种植，生米清香，口感绵软略粘、芳香爽口',
        price:'￥79.90￥98.00'};
 result.push(item);
var item = {goods:'十月稻田寒地之 最 五常有机稻花香米5kg',
        name:'https://www.benlai.com/items-100993.html?sysno=411719&benlaiSource=1&benlaiLocation=7-2-5',
        img:'https://image5.benlailife.com/ProductImages/000/000/411/719/medium/ecd5f097-6256-4034-886c-bf985e37198e.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥99.00￥188.00'};
 result.push(item);
var item = {goods:'【产地直发】傣王稻 西双版纳 勐海香米5kg(清香)',
        name:'https://www.benlai.com/items-111659.html?sysno=427383&benlaiSource=1&benlaiLocation=7-2-6',
        img:'https://image7.benlailife.com/ProductImages/medium/6f1f7cbe-eaa9-44e9-bedc-1990335d4351.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥139.00'};
 result.push(item);
var item = {goods:'【产地直发】伊古道雪花小麦粉5kg',
        name:'https://www.benlai.com/items-120399.html?sysno=451779&benlaiSource=1&benlaiLocation=7-2-7',
        img:'https://image7.benlailife.com/ProductImages/medium/8a959f37-c8f0-47dd-bcc0-0f6d79d61b1e.jpg?imageView2/2/format/webp',
        discrib:'优于品质，源于自然',
        price:'￥135.80'};
 result.push(item);
var item = {goods:'君稻五常稻花香大米5kg',
        name:'https://www.benlai.com/items-91853.html?sysno=374729&benlaiSource=1&benlaiLocation=7-2-8',
        img:'https://image.benlailife.com/ProductImages/000/000/374/729/medium/1b7bbba5-92d7-40b2-9cd9-617b02b94b39.jpg?imageView2/2/format/webp',
        discrib:'品质优选，健康饮食',
        price:'￥109.00'};
 result.push(item);
var item = {goods:'恒大兴安珍珠米一号大米5kg',
        name:'https://www.benlai.com/items-63111.html?sysno=286302&benlaiSource=1&benlaiLocation=7-2-9',
        img:'https://image5.benlailife.com/ProductImages/000/000/285/392/medium/c3678134-d6e0-49dd-88cf-39d9c1dfa301.jpg?imageView2/2/format/webp',
        discrib:'精选大兴安岭生态圈珍珠香米',
        price:'￥68.00￥88.00'};
 result.push(item);
var item = {goods:'恒大兴安长粒香一号5kg',
        name:'https://www.benlai.com/items-55896.html?sysno=71948&benlaiSource=1&benlaiLocation=7-2-10',
        img:'https://image4.benlailife.com/ProductImages/medium/23f72c8e-247d-49c8-90f4-f8026ed24f90.jpg?imageView2/2/format/webp',
        discrib:'东北大米，品质可口',
        price:'￥69.00￥89.00'};
 result.push(item);
var item = {goods:'鲁花压榨特香菜籽油 5L',
        name:'https://www.benlai.com/items-14204.html?sysno=46114&benlaiSource=1&benlaiLocation=7-2-12',
        img:'https://image6.benlailife.com/ProductImages/medium/1f26063b-a166-4d13-968b-5646d129523b.jpg?imageView2/2/format/webp',
        discrib:'非转基因原料 纯物理压榨 充分保留营养',
        price:'￥99.90￥119.00'};
 result.push(item);
var item = {goods:'七律香葱手抓饼800g',
        name:'https://www.benlai.com/items-113463.html?sysno=431956&benlaiSource=1&benlaiLocation=14-3-1',
        img:'https://image5.benlailife.com/ProductImages/000/000/113/463/medium/8bcf4f0a-0777-4729-ba76-d9bf9c1acc67.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥13.90￥23.90'};
 result.push(item);
var item = {goods:'七律手抓饼(原味)800g',
        name:'https://www.benlai.com/items-106934.html?sysno=411997&benlaiSource=1&benlaiLocation=14-3-2',
        img:'https://image5.benlailife.com/ProductImages/000/000/106/934/medium/86f209f5-3e04-4beb-9f56-7433fde273f3.jpg?imageView2/2/format/webp',
        discrib:'外表酥脆，内里筋弹，10片装',
        price:'￥21.90￥23.90'};
 result.push(item);
var item = {goods:'南翔小笼包180g',
        name:'https://www.benlai.com/items-56460.html?sysno=400843&benlaiSource=1&benlaiLocation=14-3-3',
        img:'https://image4.benlailife.com/ProductImages/000/000/072/756/medium/c1369bbe-eeef-4ac3-93f3-555525d24749.jpg?imageView2/2/format/webp',
        discrib:'上海地道美食，记忆中的味道',
        price:'￥15.90'};
 result.push(item);
var item = {goods:'鳗鱼皇后蒲烧鳗鱼段120g',
        name:'https://www.benlai.com/items-93145.html?sysno=378184&benlaiSource=1&benlaiLocation=14-3-4',
        img:'https://image7.benlailife.com/ProductImages/000/000/378/184/medium/eb36787f-1176-46fd-96d1-05ff869da776.jpg?imageView2/2/format/webp',
        discrib:'活鳗加工，肉质鲜美',
        price:'￥25.90￥49.90'};
 result.push(item);
var item = {goods:'一米时光小笼鲜汁肉包270g',
        name:'https://www.benlai.com/items-121285.html?sysno=454160&benlaiSource=1&benlaiLocation=14-3-6',
        img:'https://image7.benlailife.com/ProductImages/medium/b3b75383-e2e2-4f2c-b29f-a35d4f4be174.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥6.90￥19.90'};
 result.push(item);
var item = {goods:'一米时光千层猪肉馅饼200g',
        name:'https://www.benlai.com/items-121284.html?sysno=454157&benlaiSource=1&benlaiLocation=14-3-7',
        img:'https://image2.benlailife.com/ProductImages/medium/220f9a16-32c1-494c-adbb-d70b64d872d9.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥19.90'};
 result.push(item);
var item = {goods:'硕玥鸡肉鲍汁捞饭300g',
        name:'https://www.benlai.com/items-121277.html?sysno=454127&benlaiSource=1&benlaiLocation=14-3-8',
        img:'https://image.benlailife.com/ProductImages/medium/c1619ec4-5fea-449c-bbde-4fb53321d9d3.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥17.70￥39.90'};
 result.push(item);
var item = {goods:'硕玥花胶鸡捞饭300g',
        name:'https://www.benlai.com/items-121280.html?sysno=454141&benlaiSource=1&benlaiLocation=14-3-9',
        img:'https://image6.benlailife.com/ProductImages/medium/26bd3596-9633-4686-993f-ca0a15ace30b.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥23.90￥49.90'};
 result.push(item);
var item = {goods:'硕玥鲍汁海参捞饭300g',
        name:'https://www.benlai.com/items-121278.html?sysno=454131&benlaiSource=1&benlaiLocation=14-3-11',
        img:'https://image8.benlailife.com/ProductImages/medium/58cadf36-4b34-4e51-a220-041721113e74.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥29.90￥59.90'};
 result.push(item);
var item = {goods:'广州酒家*爽滑云吞240g',
        name:'https://www.benlai.com/items-3217.html?sysno=282641&benlaiSource=1&benlaiLocation=14-3-12',
        img:'https://image8.benlailife.com/ProductImages/000/000/282/641/medium/55d9bf22-566d-437c-a0d4-a43c7bc3ee08.jpg?imageView2/2/format/webp',
        discrib:'【广式特色】一口一个小云吞，开启新的每一天',
        price:'￥16.90￥27.90'};
 result.push(item);
var item = {goods:'养乐多活菌型乳酸菌乳饮品(低糖)100ml*5',
        name:'https://www.benlai.com/items-63517.html?sysno=297423&benlaiSource=1&benlaiLocation=10-1-3',
        img:'https://image4.benlailife.com/ProductImages/medium/ab8c9f63-1929-47c1-81bd-ea4802d6735f.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥13.90￥14.90'};
 result.push(item);
var item = {goods:'新西兰进口 维必滋酸奶原味冰淇淋 2L(带保温袋)',
        name:'https://www.benlai.com/items-89795.html?sysno=369799&benlaiSource=1&benlaiLocation=10-1-4',
        img:'https://image5.benlailife.com/ProductImages/medium/a7da42d3-09b8-43e9-afb3-57be2d926733.jpg?imageView2/2/format/webp',
        discrib:'酸甜可口，奶味香浓',
        price:'￥128.00￥209.00'};
 result.push(item);
var item = {goods:'百吉福棒棒奶酪(原味)500g',
        name:'https://www.benlai.com/items-13079.html?sysno=7444&benlaiSource=1&benlaiLocation=10-1-7',
        img:'https://image3.benlailife.com/ProductImages/000/000/328/875/medium/f0572fa3-63d0-488a-bbcc-b981e127ffbc.jpg?imageView2/2/format/webp',
        discrib:'新老包装交替中',
        price:'￥65.00￥82.00'};
 result.push(item);
var item = {goods:'百吉福棒棒奶酪(混合水果)500g',
        name:'https://www.benlai.com/items-13086.html?sysno=7443&benlaiSource=1&benlaiLocation=10-1-9',
        img:'https://image5.benlailife.com/ProductImages/000/000/036/855/medium/1e55411c-ca77-41cc-8371-8dc16c83b51a.jpg?imageView2/2/format/webp',
        discrib:'新老包装交替中',
        price:'￥65.00￥82.00'};
 result.push(item);
var item = {goods:'德亚 全脂牛奶200ml*10盒 (礼盒装)',
        name:'https://www.benlai.com/items-99053.html?sysno=394253&benlaiSource=1&benlaiLocation=10-1-15',
        img:'https://image4.benlailife.com/ProductImages/000/000/392/890/medium/debb679f-f3d0-4226-8130-acb64b8ada81.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥59.00'};
 result.push(item);
var item = {goods:'韩国Milk Talk 延世牧场低温调制乳1L',
        name:'https://www.benlai.com/items-13134.html?sysno=10535&benlaiSource=1&benlaiLocation=10-1-17',
        img:'https://image.benlailife.com/ProductImages/000/000/073/398/medium/38bb44df-2461-4fbd-85b0-075a74777138.jpg?imageView2/2/format/webp',
        discrib:'韩国原装进口，香醇美味，健康营养',
        price:'￥42.80￥49.90'};
 result.push(item);
var item = {goods:'新西兰进口 乐博至臻纯牛奶 1L*12',
        name:'https://www.benlai.com/items-99617.html?sysno=398205&benlaiSource=1&benlaiLocation=10-1-18',
        img:'https://image8.benlailife.com/ProductImages/000/000/396/058/medium/61a19f63-ba69-41f6-9a83-1b2cf70489c0.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥99.00￥199.00'};
 result.push(item);
var item = {goods:'养乐多活菌型乳酸菌乳饮品(原味) 100ml*5',
        name:'https://www.benlai.com/items-3760.html?sysno=297424&benlaiSource=1&benlaiLocation=10-1-19',
        img:'https://image5.benlailife.com/ProductImages/medium/5963dff1-bf9c-462b-b873-c3ce7bcdef1e.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥12.80￥13.90'};
 result.push(item);
var item = {goods:'纽仕兰牧场 脱脂奶粉1000g/袋',
        name:'https://www.benlai.com/items-75855.html?sysno=331975&benlaiSource=1&benlaiLocation=10-1-1',
        img:'https://image.benlailife.com/ProductImages/000/000/331/638/medium/87be0447-9527-4f16-b1f1-a84b1fccf478.jpg?imageView2/2/format/webp',
        discrib:'源自新西兰的脱脂奶粉',
        price:'￥79.00￥128.00'};
 result.push(item);
var item = {goods:'总统小三角再制干酪 140克',
        name:'https://www.benlai.com/items-13069.html?sysno=10387&benlaiSource=1&benlaiLocation=10-1-2',
        img:'https://image.benlailife.com/ProductImages/000/000/010/387/medium/9f46dfb0-2bb6-4e0f-a2f5-a3b32fcddf98.jpg?imageView2/2/format/webp',
        discrib:'法国进口 丰富营养健康成长',
        price:'￥18.80￥20.90'};
 result.push(item);
var item = {goods:'沃隆每日坚果A款25g*30袋',
        name:'https://www.benlai.com/items-56887.html?sysno=73551&benlaiSource=1&benlaiLocation=8-2-1',
        img:'https://image4.benlailife.com/ProductImages/000/000/056/887/medium/d5a765fa-ec61-48f5-a0ff-75300b8ab43e.jpg?imageView2/2/format/webp',
        discrib:'扁桃仁、腰果、核桃仁、蔓越莓干、蓝莓干、榛子仁',
        price:'￥138.00￥148.00'};
 result.push(item);
var item = {goods:'中国香港 美心 原味鸡蛋卷 448g',
        name:'https://www.benlai.com/items-75344.html?sysno=330347&benlaiSource=1&benlaiLocation=8-2-3',
        img:'https://image6.benlailife.com/ProductImages/000/000/330/350/medium/20434c85-3272-447b-9e66-5921e83b5024.jpg?imageView2/2/format/webp',
        discrib:'酥香松脆，入口即化',
        price:'￥139.00￥159.00'};
 result.push(item);
var item = {goods:'【厂商直发】轩妈 蛋黄酥 330g(55g*6枚)*2盒',
        name:'https://www.benlai.com/items-119557.html?sysno=448907&benlaiSource=1&benlaiLocation=8-2-6',
        img:'https://image5.benlailife.com/ProductImages/medium/3991e5de-3099-4d3b-8e02-329a71408c3b.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥89.00￥99.00'};
 result.push(item);
var item = {goods:'原物 精选呼伦贝尔牛肉干220g-五香原味',
        name:'https://www.benlai.com/items-13398.html?sysno=35985&benlaiSource=1&benlaiLocation=8-2-7',
        img:'https://image.benlailife.com/ProductImages/000/000/333/377/medium/97e51556-2d97-4744-9c42-df7fec8eb3d7.jpg?imageView2/2/format/webp',
        discrib:'精选好肉 味正肉香',
        price:'￥118.00'};
 result.push(item);
var item = {goods:'新疆温宿宝圆核桃500g',
        name:'https://www.benlai.com/items-114574.html?sysno=435203&benlaiSource=1&benlaiLocation=8-2-2',
        img:'https://image5.benlailife.com/ProductImages/000/000/114/574/medium/99b216d0-a48a-42d4-bd40-3513dfbfc577.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥39.90'};
 result.push(item);
var item = {goods:'美国进口万多福加州开心果(经典盐焗味)454g',
        name:'https://www.benlai.com/items-4251.html?sysno=16618&benlaiSource=1&benlaiLocation=8-2-4',
        img:'https://image2.benlailife.com/ProductImages/000/000/299/072/medium/b1db1ccd-5eb4-4029-baca-7d240bfc1b53.jpg?imageView2/2/format/webp',
        discrib:'喷香可口，大包装更尽兴',
        price:'￥99.00￥109.00'};
 result.push(item);
var item = {goods:'臻味天天坚果27g*20(A款)',
        name:'https://www.benlai.com/items-75829.html?sysno=331742&benlaiSource=1&benlaiLocation=8-2-5',
        img:'https://image3.benlailife.com/ProductImages/000/000/331/744/medium/1b044362-1ef0-4046-97f6-8ab04573caab.jpg?imageView2/2/format/webp',
        discrib:'好好学习 天天坚果',
        price:'￥89.00￥99.00'};
 result.push(item);
var item = {goods:'【产地直发】暖小糖海盐味日式小圆饼100g*4包',
        name:'https://www.benlai.com/items-120026.html?sysno=451132&benlaiSource=1&benlaiLocation=8-2-8',
        img:'https://image8.benlailife.com/ProductImages/medium/c33c30df-fa1f-4fc0-9df7-d68a868c751b.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥19.90'};
 result.push(item);
var item = {goods:'【产地直发】嘉华经典现烤玫瑰鲜花饼礼盒500g/10枚*2',
        name:'https://www.benlai.com/items-102788.html?sysno=402136&benlaiSource=1&benlaiLocation=8-2-9',
        img:'https://image5.benlailife.com/ProductImages/000/000/402/136/medium/67c7e4a9-b03f-4fc3-827c-2d7be2783d39.jpg?imageView2/2/format/webp',
        discrib:'三朵玫瑰一个饼',
        price:'￥89.00￥99.00'};
 result.push(item);
var item = {goods:'沃隆每日坚果25g*20袋A款',
        name:'https://www.benlai.com/items-114528.html?sysno=452838&benlaiSource=1&benlaiLocation=8-2-10',
        img:'https://image5.benlailife.com/ProductImages/medium/d2f87aba-45d6-43ad-bfb2-7c12428b2d08.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥109.00'};
 result.push(item);
var item = {goods:'汇源 橙汁 1L',
        name:'https://www.benlai.com/items-14465.html?sysno=49270&benlaiSource=1&benlaiLocation=9-3-1',
        img:'https://image7.benlailife.com/ProductImages/000/000/324/278/medium/25f476c7-a90a-4d89-91dc-ace2a4bc5ddb.jpg?imageView2/2/format/webp',
        discrib:'不添加，原汁原味，喝的更满意',
        price:'￥13.90￥19.00'};
 result.push(item);
var item = {goods:'农夫山泉NFC果汁饮料(橙汁)300ml*10瓶',
        name:'https://www.benlai.com/items-105806.html?sysno=425408&benlaiSource=1&benlaiLocation=9-3-2',
        img:'https://image.benlailife.com/ProductImages/medium/76dcbfd8-e95d-4ef3-bb3c-bb0d59725fd7.jpg?imageView2/2/format/webp',
        discrib:'100%非浓缩还原果汁，不加水，不加糖，不加添加剂，天然更健',
        price:'￥79.00￥89.00'};
 result.push(item);
var item = {goods:'椰树 椰汁245ml*24',
        name:'https://www.benlai.com/items-63918.html?sysno=289622&benlaiSource=1&benlaiLocation=9-3-3',
        img:'https://image8.benlailife.com/ProductImages/000/000/287/266/medium/d7344bbb-596a-4f04-b263-755e03797200.jpg?imageView2/2/format/webp',
        discrib:'每天一杯，白白嫩嫩！',
        price:'￥109.00￥150.00'};
 result.push(item);
var item = {goods:'永和豆浆经典原味豆浆粉350g/袋',
        name:'https://www.benlai.com/items-93415.html?sysno=380378&benlaiSource=1&benlaiLocation=9-3-5',
        img:'https://image6.benlailife.com/ProductImages/000/000/380/380/medium/280531c8-8497-4775-9a10-435e470e739d.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥19.90￥22.80'};
 result.push(item);
var item = {goods:'脉动 维生素饮料(水蜜桃口味) 600ml*15',
        name:'https://www.benlai.com/items-8933.html?sysno=427395&benlaiSource=1&benlaiLocation=9-3-6',
        img:'https://image3.benlailife.com/ProductImages/medium/84ac16fb-a7fc-4b91-8a69-e39aa59754fd.jpg?imageView2/2/format/webp',
        discrib:'脉动由我',
        price:'￥65.00￥89.00'};
 result.push(item);
var item = {goods:'南方黑芝麻 黑芝麻糊(新升级)原味600g',
        name:'https://www.benlai.com/items-105454.html?sysno=409908&benlaiSource=1&benlaiLocation=9-3-7',
        img:'https://image2.benlailife.com/ProductImages/medium/a0cb5553-fa03-4faa-b111-0bc9e88678c4.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥32.50￥32.90'};
 result.push(item);
var item = {goods:'雀巢咖啡1+2奶香15g*30',
        name:'https://www.benlai.com/items-97267.html?sysno=388479&benlaiSource=1&benlaiLocation=9-3-8',
        img:'https://image4.benlailife.com/ProductImages/000/000/097/267/medium/d8c5aa88-6399-4c5f-bc1b-bef9270e37bf.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥46.80￥49.90'};
 result.push(item);
var item = {goods:'雀巢 丝滑拿铁咖啡 268ml*15',
        name:'https://www.benlai.com/items-8964.html?sysno=291350&benlaiSource=1&benlaiLocation=9-3-10',
        img:'https://image.benlailife.com/ProductImages/medium/5e96f265-8095-48d9-a4ca-113ab2cb66a0.jpg?imageView2/2/format/webp',
        discrib:'丝滑拿铁口感丝般柔滑，咖啡的香醇和牛奶的丝滑如艺术般完美结合',
        price:'￥78.00￥88.00'};
 result.push(item);
var item = {goods:'艺福堂黑芝麻丸100g/罐',
        name:'https://www.benlai.com/items-114909.html?sysno=437636&benlaiSource=1&benlaiLocation=9-3-4',
        img:'https://image.benlailife.com/ProductImages/000/000/114/909/medium/c826ebf2-c65b-4b26-b134-3e68054bae7d.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥29.00￥39.00'};
 result.push(item);
var item = {goods:'久露 杏仁露 1L',
        name:'https://www.benlai.com/items-67553.html?sysno=295424&benlaiSource=1&benlaiLocation=9-3-9',
        img:'https://image3.benlailife.com/ProductImages/medium/eff731a9-1fad-45cd-a3f7-8766eed1b534.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥18.90￥19.80'};
 result.push(item);
var item = {goods:'BRITA/碧然德专用滤芯Maxtra（6只装）',
        name:'https://www.benlai.com/items-56212.html?sysno=74238&benlaiSource=1&benlaiLocation=12-1-1',
        img:'https://image.benlailife.com/ProductImages/000/000/072/415/medium/710144bc-ceb2-40f3-8d4c-e35207a01483.jpg?imageView2/2/format/webp',
        discrib:'（新旧包装随机发货）',
        price:'￥179.00￥499.00'};
 result.push(item);
var item = {goods:'【厂商直发】美的(Midea)空气炸锅MF-KZ15E201 1.8L',
        name:'https://www.benlai.com/items-114010.html?sysno=433796&benlaiSource=1&benlaiLocation=12-1-2',
        img:'https://image8.benlailife.com/ProductImages/000/000/114/010/medium/7baf76f3-04a7-4e99-9877-37db4468171c.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥299.00￥569.00'};
 result.push(item);
var item = {goods:'【厂商直发】美的(Midea)绞肉机LZ25easy106 1.75L',
        name:'https://www.benlai.com/items-101716.html?sysno=398959&benlaiSource=1&benlaiLocation=12-1-3',
        img:'https://image.benlailife.com/ProductImages/000/000/101/716/medium/aa4eddba-ab8e-4a28-9dc2-050ecbf4fb57.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥169.00￥339.00'};
 result.push(item);
var item = {goods:'【厂商直发】美的(Midea)M100转盘加热微波炉 白色 20L',
        name:'https://www.benlai.com/items-92757.html?sysno=377662&benlaiSource=1&benlaiLocation=12-1-4',
        img:'https://image2.benlailife.com/ProductImages/000/000/092/757/medium/477284c5-484b-4f79-ab47-e0b39f810c4e.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥429.00￥899.00'};
 result.push(item);
var item = {goods:'【厂商直发】苏泊尔VC30JC01晶钻全屏蜂巢炒锅30cm',
        name:'https://www.benlai.com/items-105853.html?sysno=409553&benlaiSource=1&benlaiLocation=12-1-5',
        img:'https://image5.benlailife.com/ProductImages/000/000/105/853/medium/30927abe-3851-468a-8441-43209ca43714.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥299.00￥499.00'};
 result.push(item);
var item = {goods:'【厂商直发】苏泊尔SZ28B5好帮手不锈钢复底蒸锅28cm',
        name:'https://www.benlai.com/items-68836.html?sysno=298524&benlaiSource=1&benlaiLocation=12-1-6',
        img:'https://image7.benlailife.com/ProductImages/000/000/298/475/medium/34dd172e-961b-4eeb-be37-cddf6a21a568.jpg?imageView2/2/format/webp',
        discrib:'一锅多用 百变厨艺随心烹',
        price:'￥199.00￥409.00'};
 result.push(item);
var item = {goods:'【厂商直发】苏泊尔SY-50YC501Q球釜双胆电压力锅5L',
        name:'https://www.benlai.com/items-83451.html?sysno=351250&benlaiSource=1&benlaiLocation=12-1-7',
        img:'https://image7.benlailife.com/ProductImages/000/000/351/284/medium/3726905b-e392-48e7-ba63-a09877e1621d.jpg?imageView2/2/format/webp',
        discrib:'质量保证',
        price:'￥399.00￥579.00'};
 result.push(item);
var item = {goods:'苏泊尔CFXB40FD8060-86智能家用电饭煲4L',
        name:'https://www.benlai.com/items-83435.html?sysno=351254&benlaiSource=1&benlaiLocation=12-1-8',
        img:'https://image4.benlailife.com/ProductImages/000/000/351/288/medium/5c7af22c-600c-48f4-ac7b-4d8367e3c60c.jpg?imageView2/2/format/webp',
        discrib:'质量保证',
        price:'￥279.00￥499.00'};
 result.push(item);
var item = {goods:'维达V4073蓝色经典系列4层200g卷卫生纸/提',
        name:'https://www.benlai.com/items-59858.html?sysno=350019&benlaiSource=1&benlaiLocation=12-1-9',
        img:'https://image6.benlailife.com/ProductImages/000/000/350/021/medium/3b5cb468-d70d-46ca-9750-16a6d60ac4d8.jpg?imageView2/2/format/webp',
        discrib:'湿水不易破 享健康生活',
        price:'￥37.90￥79.90'};
 result.push(item);
var item = {goods:'【厂商直发】摩飞便携榨汁机mr9600粉300ML',
        name:'https://www.benlai.com/items-103723.html?sysno=411422&benlaiSource=1&benlaiLocation=12-1-10',
        img:'https://image5.benlailife.com/ProductImages/000/000/103/723/medium/26bfd2b3-10d1-4757-85a1-85a97425e4ec.jpg?imageView2/2/format/webp',
        discrib:'',
        price:'￥219.00￥400.00'};
 result.push(item);


    var htmlPage = '';
    if (result.length > 0){
        for (var i = 0;i < result.length;i++){
            console.log(result[0]);
             console.log(result[0].goods);
            htmlPage += ' <div class="col-sm-3 product wowload fadeInUp ">\n' +
                '\t\t\t<img src=" '+ result[i].img +' " class="img-responsive">\n' +
                '\t\t\t<div class="overlay">\n' +
                '\t\t\t  <div class="ab-wrap"><div class="ab-center text-center">\n' +
                '\t\t\t\t<h3>'+ result[i].goods +'</h3>\n' +
                '\t\t\t\t<p>'+ result[i].price +'</p>\n' +
                '\t\t\t\t<a href="'+ result[i].img +'" title="Blue" class="btn btn-default gallery-image" data-gallery="">'+ result[i].discrib +'</a>\n' +
                '\t\t\t  </div></div>\n' +
                '\t\t\t</div>\n' +
                '\t\t  </div>'
        }
    }
    document.getElementById("portfolio").innerHTML = htmlPage;

</script>
   </div>
<!-- footer-start -->
        <footer>
            <div class="footer-area pt-80 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="#"><img src="../static/images/LOGO(kou_again).png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h4 class="footer-title">快速链接</h4>
                                <ul class="footer-menu footer-2-menu">
                                    <li><a href="#">关于我们</a></li>
                                    <li><a href="#">我的账户</a></li>
                                    <li><a href="#">订单追踪</a></li>
                                    <li><a href="#">帮助 & 支持</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h4 class="footer-title">联系我们</h4>
                                <ul class="footer-link">
                                    <li>email:taoka@.com</li>
                                    <li>12345678909</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6">
                            <div class="footer-wrapper mb-30 ml-70">
                                <h4 class="footer-title">关注我们</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">微博</a></li>
                                    <li><a href="#">微信</a></li>
                                    <li><a href="#">QQ</a></li>
                                    <li><a href="#">推特</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-area pt-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <div class="copyright" id="copyright" align="center">
                                    <p>Copyright @ 2020taoka.com, A11 rights reserved.</p>
			                        <p>2020-2040，版权所有淘卡5CP 备2013146</p>
                                    <p>联系作者Tel：12345678909</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->

		<!-- JS here -->
		<script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/isotope.pkgd.min.js"></script>
        <script src="../static/js/jquery.countdown.min.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/jquery.meanmenu.min.js"></script>
        <script src="../static/js/ajax-form.js"></script>
        <script src="../static/js/wow.min.js"></script>
        <script src="../static/js/jquery.scrollUp.min.js"></script>
        <script src="../static/js/imagesloaded.pkgd.min.js"></script>
        <script src="../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/jijie.js"></script>
       </section>
</body>
</html>