<!doctype html>
<html class="no-js" lang="ZXX">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>季节查询</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <link rel="stylesheet" href="../static/css/dripicons.css">
        <link rel="stylesheet" href="../static/css/meanmenu.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
	    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
	    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	    <link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
       <!-- header-start -->
       <header>
        <div class="header-top-area pl-55 pr-55 d-none d-lg-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                        <div class="header-info">
                            <span><i class="dripicons-phone"></i> Call : 12345678909</span>
                            <span><i class="dripicons-mail"></i> e-mail:taoka@.com</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                            <div class="header-right d-none d-lg-block">
                                <div class="header-right f-right ">
                                    <div class="header-lang  pos-rel f-right">
                                    <div class="lang-icon">
                                        <i class="dripicons-bookmark"></i>
                                        <a href="personal">个人主页<i class="dripicons-chevron-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-menu-area pl-55 pr-55">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 d-flex align-items-center">
                        <div class="logo">
                            <a href="#"><img src="../static/images/logo.png" width="180px" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="personal">主页</a></li>
                                    <li><a href="#">人脸</a></li>
                                    <li><a href="#">畅销</a></li>
                                    <li><a href="#">受众</a></li>
                                    <li><a href="#">顾客</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="header-2-right f-right d-none d-md-none d-lg-block">
                            <ul>
                                <li>
                                    <ul class="minicart">
                                        <li>
                                            <div class="del-icon">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-info">
            <div class="close-icon">
                <button>
                    <i class="far fa-window-close"></i>
                </button>
            </div>
            <div class="logo-side mb-30">
            </div>
        </div>
         </header>
       <!-- header-end -->
        <main>
            <!-- breadcrumb-area-start -->
            <div class="breadcrumb-area grey-bg pt-155 pb-155"  id="spring">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>春季</h1>
                                <ul class="breadcrumb-menu">
                                    <li><a href="personal">主页</a></li>
                                    <li><span>请查询季节性畅销产品</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->
             <!-- product-area start -->
            <div class="product-area pb-90 pl-55 pr-55 pt-120">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <div class="sidebar-box mb-30">
                                 <div class="shop-widget">
                                    <h3 class="shop-title">Search by</h3>
                                    <form action="#" class="shop-search">
                                        <input type="text" placeholder="输入商品ID....">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                 </div>
                                <div class="shop-widget">
                                    <h3 class="shop-title">季节;)</h3>
                                    <ul class="shop-link">
                                        <li><a href="spring"><i class="far fa-square"></i> 春季</a></li>
                                        <li><a href="summer"><i class="far fa-square"></i> 夏季</a></li>
                                        <li><a href="autumn"><i class="far fa-square"></i> 秋季</a></li>
                                        <li><a href="winter"><i class="far fa-square"></i> 冬季</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 mb-30">
                            <div class="row mb-20">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="product-showing mb-20">
                                        <p>春季搜索结果</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/qingtuan.jpeg" width="100"  height="150" alt="">
                                                <img class="secondary-img" src="../static/images/qingtuan3.jpeg"width="100"  height="150"  alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>青团</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>39元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/1.png" width="100"  height="150" alt="">
                                                <img class="secondary-img" src="../static/images/2.png" width="100"  height="150" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>樱桃</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>128元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/garden.jpg" width="100"  height="150"  alt="">
                                                <img class="secondary-img" src="../static/images/I_do.jpg" width="100"  height="150" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>园艺工具</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>299元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/sijin2.jpg" alt="">
                                                <img class="secondary-img" src="../static/images/sijin.jpg" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>丝巾</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>139元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/shoes.jpg" alt="">
                                                <img class="secondary-img" src="../static/images/shoes2.jpg" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>鞋子</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>329元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/weiyi1.jpg" alt="">
                                                <img class="secondary-img" src="../static/images/weiyi.jpg" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>卫衣</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>359元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/2.jpg" alt="">
                                                <img class="secondary-img" src="../static/images/12.jpg" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>草莓</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>29元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/dress1.jpg" alt="">
                                                <img class="secondary-img" src="../static/images/dress.jpg" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>连衣裙</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>488元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="product-wrapper mb-55">
                                        <div class="product-img">
                                                <img src="../static/images/sunshine_hat.jpg" alt="">
                                                <img class="secondary-img" src="../static/images/hat1.jpg" alt="">
                                            <span class="new">HOT</span>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>太阳帽</h4>
                                            <div class="pro-rating">
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                                <i class="dripicons-star"></i>
                                            </div>
                                            <div class="pro-price ">
                                                <span>129元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
             </div>
            <!-- product-area end -->
        </main>
       <!-- footer-start -->
        <footer>
            <div class="footer-area pt-80 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="#"><img src="../static/images/logo.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h4 class="footer-title">快速链接</h4>
                                <ul class="footer-menu footer-2-menu">
                                    <li><a href="#">关于我们</a></li>
                                    <li><a href="#">我的账户</a></li>
                                    <li><a href="#">订单追踪</a></li>
                                    <li><a href="#">帮助 & 支持</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h4 class="footer-title">联系我们</h4>
                                <ul class="footer-link">
                                    <li>email:taoka@.com</li>
                                    <li>12345678909</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6">
                            <div class="footer-wrapper mb-30 ml-70">
                                <h4 class="footer-title">关注我们</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">微博</a></li>
                                    <li><a href="#">微信</a></li>
                                    <li><a href="#">QQ</a></li>
                                    <li><a href="#">推特</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-area pt-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <div class="copyright" id="copyright">
                                    <p>Copyright @ 2020taoka.com, A11 rights reserved.</p>
			                        <p>2020-2040，版权所有淘卡5CP 备2013146</p>
                                    <p>联系作者Tel：12345678909</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
		<script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/isotope.pkgd.min.js"></script>
        <script src="../static/js/jquery.countdown.min.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/jquery.meanmenu.min.js"></script>
        <script src="../static/js/ajax-form.js"></script>
        <script src="../static/js/wow.min.js"></script>
        <script src="../static/js/jquery.scrollUp.min.js"></script>
        <script src="../static/js/imagesloaded.pkgd.min.js"></script>
        <script src="../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>